:root {
	/* Gradients */
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);
	/* Text colors  */
	--verydark-blue: hsl(237, 12%, 33%);
	--dark-blue: hsl(240, 6%, 50%);
	/* Divider color*/
	--light-blue: hsl(240, 5%, 91%);
}

/* Mobile first  */
html {
	box-sizing: border-box;

	margin: 0;
	height: 100%;
	padding: 0;
}

body {
	/* width: 90%; */
	margin: 0;
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(var(--soft-violet)),
			to(var(--soft-blue))
		)
		no-repeat fixed;

	min-height: 100vh;

	display: grid;
	justify-content: center;
	align-items: flex-start;
	font-size: 12px;
	font-family: "Kumbh Sans", sans-serif;
}
.container {
	margin-top: 10rem;
	background: #ffffff;
	border-radius: 1rem;
	max-width: 55rem;
	min-height: 60vh;
	background-image: url("../images/bg-pattern-mobile.svg");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 80%;
	padding: 0;
}

.woman-desktop {
	display: none;
}
.woman-mobile {
	display: block;
	width: 90%;
	transform: translateY(-6rem) translateX(0.25rem);
	/* transform: translateY(-55%); */
}

.box {
	display: none;
}
.accordion-container {
	padding: 1rem;
	margin-top: -5rem;
}
.accordion-container h1.title {
	text-align: center;
	font-size: 2rem;
}
.questions {
	/* padding: 1rem; */
	font-size: 0.5rem;
}
details {
	margin-top: 1rem;
	padding-bottom: 2.25em;
	border-bottom: rgba(204, 204, 204, 0.404) 0.5px solid;
}
details[open] summary ~ * {
	animation: open-summary 0.3s ease-in-out;
}

@keyframes open-summary {
	0% {
		opacity: 0;
		margin-top: -10px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}
details[open] {
	padding-bottom: 0;
}
.arrow-down {
	display: block;
	margin-top: -0.5rem;
	margin-left: auto;

	transition: 0.3s ease;
}
details[open] .arrow-down {
	transform: rotateX(180deg);
	transition: 0.3s ease-in-out;
}
details[open] summary {
	font-weight: 700;
}
.summary {
	font-weight: 400;
	font-size: 0.725rem;
	color: #4f5054;

	list-style: none;
	outline: 0; /* remove blue border around details[open] in chrome*/
}
.summary:hover {
	cursor: pointer;
	color: #f87c57;
}
.summary + p {
	padding-top: 1rem;
	font-size: 0.675rem;
	margin-top: 0;
	width: 15rem;
	line-height: 1.5;
	color: #4641418a;
}
.summary::-webkit-details-marker {
	list-style: none;
}

/*  when screen size greater than 900px*/
@media only screen and (min-width: 900px) {
	body {
		min-height: 100vh;
		margin: 0;
		padding: 1rem;
	}
	.container {
		min-width: 1000px;
		display: flex;
		border-radius: 2rem;
		background-image: url(../images/bg-pattern-desktop.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: -34rem -16rem;
		flex-direction: row;
		justify-content: space-between;
	}
	.woman-mobile {
		display: none;
	}

	.woman-svg {
		overflow: hidden;
		height: 30rem;
	}

	.woman-desktop {
		display: block;
		transform: translateY(7rem) translateX(-4.5rem);
	}

	.box {
		display: block;
		transform: translateY(-15rem) translateX(-5.5rem);
	}
	.accordion-container {
		margin: auto 0 auto -3rem;
	}
	.accordion-container h1.title {
		margin: -5rem 0 0 0;
		padding-bottom: 1.5rem;
		text-align: left;
	}

	details {
		width: 400px;
		padding-bottom: 1.5rem;
	}
	.questions {
		margin: 1rem 4rem 0 0;
	}
	.summary {
		font-size: 1rem;
	}
	.summary + p {
		font-size: 0.785rem;
		margin-top: 0;
		line-height: 1.5;
		color: #4641418a;
		width: 23rem;
	}
}
