:root {
	/* Gradients */
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);
	/* Text colors  */
	--verydark-blue: hsl(237, 12%, 33%);
	--dark-blue: hsl(240, 6%, 50%);
	/* Divider color*/
	--light-blue: hsl(240, 5%, 91%);
}
* {
	font-size: 12px;
	font-family: "Kumbh Sans", sans-serif;
	box-sizing: border-box;
	border-collapse: collapse;
}
body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	text-align: left;
	min-width: 1440px;
	height: 100vh;
	margin: 0;
	padding: 0;

	background: linear-gradient(var(--soft-violet), var(--soft-blue)) no-repeat;
}
body > #container {
	background: url(../images/bg-pattern-desktop.svg);
	background-repeat: no-repeat;
	background-color: white;
	min-width: 900px;
	width: 1000px;
	height: 500px;
	border-radius: 2em;
	background-position: -51em -25em;
	/* margin: 10em auto; */
}

.img-box,
.img-woman {
	position: absolute;
}
.img-woman {
	overflow: hidden;
	height: 100%;
}
.img-woman #woman {
	position: relative;

	right: 6rem;
	top: 7rem;
}

.img-box #box {
	position: relative;
	top: 18rem;

	right: 7rem;
}
#accordion-container {
	position: relative;

	left: 40rem;
	top: 5rem;
}
#accordion-container .title {
	font-weight: 700;
	font-size: 2.5em;
}
#questions {
	text-align: left;
	margin-left: 0;
	position: absolute;
	width: 35rem;
}
details {
	margin-top: 2rem;
	padding-bottom: 1.5em;
	border-bottom: rgba(204, 204, 204, 0.404) 0.5px solid;
}
details[open] {
	padding-bottom: 0;
}
.arrow-down {
	display: block;
	position: relative;
	margin-left: auto;
	bottom: 1em;
}
details[open] .arrow-down {
	transform: rotateX(180deg);
}
details[open] summary {
	font-weight: 700;
}
.summary {
	font-weight: 400;
	font-size: 14px;
	color: #4f5054;
	padding-right: 1rem;
	list-style: none;
	outline: 0; /* remove blue border around details[open] in chrome*/
}
.summary + p {
	font-size: 14px;
	color: #4641418a;
}
.summary::-webkit-details-marker {
	list-style: none;
}
.attribution {
	font-size: 11px;
	text-align: center;
	position: relative;
	bottom: -15%;
	padding: 1em;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
